*.ipynb_checkpoints
*.s
*.compileerr
*.compileout
*.out
*.expected

#runtime files
runtime/runtime.o
src/pyyc/__pycache__
__pycache__
runtime/libpyyruntime.a

# executables

tests/autograde_typed/p0/easy/0bytes
tests/autograde_typed/p0/easy/add_const
tests/autograde_typed/p0/easy/add_input
tests/autograde_typed/p0/easy/add_var
tests/autograde_typed/p0/easy/chain_add
tests/autograde_typed/p0/easy/input
tests/autograde_typed/p0/easy/negate
tests/autograde_typed/p0/easy/print
tests/autograde_typed/p0/easy/sub
tests/autograde_typed/p0/easy/sub_var
tests/autograde_typed/p0/easy/usub
tests/autograde_typed/p0/hard/add_chained_usub
tests/autograde_typed/p0/hard/inline_big_add
tests/autograde_typed/p0/hard/lexver1
tests/autograde_typed/p0/hard/nameconflict1
tests/autograde_typed/p0/hard/nameconflict2
tests/autograde_typed/p0/hard/nested_op
tests/autograde_typed/p0/hard/spill
tests/autograde_typed/p0/hard/succ_add
tests/autograde_typed/p0/medium/chain_unary
tests/autograde_typed/p0/medium/chained_usub_var
tests/autograde_typed/p0/medium/discard
tests/autograde_typed/p0/medium/discard_input
tests/autograde_typed/p0/medium/inline_add
tests/autograde_typed/p0/medium/input_add
tests/autograde_typed/p0/medium/reassign
tests/autograde_typed/p0/medium/reuse
tests/autograde_typed/p0/medium/swap
tests/autograde_typed/p0/medium/unary_paren

tests/autograde/p0/easy/0bytes
tests/autograde/p0/easy/add_const
tests/autograde/p0/easy/add_input
tests/autograde/p0/easy/add_var
tests/autograde/p0/easy/chain_add
tests/autograde/p0/easy/input
tests/autograde/p0/easy/negate
tests/autograde/p0/easy/print
tests/autograde/p0/easy/sub
tests/autograde/p0/easy/sub_var
tests/autograde/p0/easy/usub
tests/autograde/p0/hard/add_chained_usub
tests/autograde/p0/hard/inline_big_add
tests/autograde/p0/hard/lexver1
tests/autograde/p0/hard/nameconflict1
tests/autograde/p0/hard/nameconflict2
tests/autograde/p0/hard/nested_op
tests/autograde/p0/hard/spill
tests/autograde/p0/hard/succ_add
tests/autograde/p0/medium/chain_unary
tests/autograde/p0/medium/chained_usub_var
tests/autograde/p0/medium/discard
tests/autograde/p0/medium/discard_input
tests/autograde/p0/medium/inline_add
tests/autograde/p0/medium/input_add
tests/autograde/p0/medium/reassign
tests/autograde/p0/medium/reuse
tests/autograde/p0/medium/swap
tests/autograde/p0/medium/unary_paren
tests/autograde/p0a/easy/and1
tests/autograde/p0a/easy/eq
tests/autograde/p0a/medium/empty_and
tests/autograde/p0a/medium/empty_and1
tests/autograde/p0a/medium/empty_and2
tests/autograde/p0a/medium/empty_and3
tests/autograde/p0a/medium/empty_eq
tests/autograde/p0a/medium/fake_add
tests/autograde/p0a/medium/fake_chained_not_add
tests/autograde/p0a/easy/and
tests/autograde/p0a/easy/is_positive_if
tests/autograde/p0a/easy/ne
tests/autograde/p0a/easy/not
tests/autograde/p0a/easy/or
tests/autograde/p0a/easy/simple_if
tests/autograde/p0a/easy/simple_while
tests/autograde/p0a/easy/simple_while1
tests/autograde/p0a/hard/climb2fall1
tests/autograde/p0a/hard/discard
tests/autograde/p0a/hard/fib
tests/autograde/p0a/hard/if_in_while
tests/autograde/p0a/hard/input_in_while
tests/autograde/p0a/hard/is_odd
tests/autograde/p0a/hard/nested
tests/autograde/p0a/hard/nested2
tests/autograde/p0a/hard/prod
tests/autograde/p0a/medium/empty_ne
tests/autograde/p0a/medium/wdiscard
tests/autograde/p0a/medium/while_input
tests/mytests/ex1
tests/mytests/ex10
tests/mytests/ex11
tests/mytests/ex12
tests/mytests/ex13
tests/mytests/ex14
tests/mytests/ex15
tests/mytests/ex16
tests/mytests/ex2
tests/mytests/ex3
tests/mytests/ex4
tests/mytests/ex5
tests/mytests/ex6
tests/mytests/ex7
tests/mytests/ex8
tests/mytests/ex9
tests/mytests/test0
tests/mytests/test1

#p1
tests/autograde/p1/easy/bool_int_add
tests/autograde/p1/easy/bool_int_comp
tests/autograde/p1/easy/bool_int_fcomp
tests/autograde/p1/easy/dict_var
tests/autograde/p1/easy/list_elewise_add
tests/autograde/p1/easy/list_nested
tests/autograde/p1/easy/list_var
tests/autograde/p1/easy/list
tests/autograde/p1/easy/polymorph
tests/autograde/p1/easy/simple_subscript
tests/autograde/p1/easy/val_comp
tests/autograde/p1/medium/dict_expr
tests/autograde/p1/medium/dict_expr
tests/autograde/p1/medium/dict_in_list
tests/autograde/p1/medium/dict_nested
tests/autograde/p1/medium/dictorder
tests/autograde/p1/medium/empty_and
tests/autograde/p1/medium/empty_and2
tests/autograde/p1/medium/empty_and3
tests/autograde/p1/medium/empty_eq
tests/autograde/p1/medium/empty_ne
tests/autograde/p1/medium/empty_obj_cmp
tests/autograde/p1/medium/empty_obj_cmp2
tests/autograde/p1/medium/fake_add
tests/autograde/p1/medium/fake_chained_not_add
tests/autograde/p1/medium/is_positive_while
tests/autograde/p1/medium/list_concat
tests/autograde/p1/medium/list_expr
tests/autograde/p1/medium/list_idx
tests/autograde/p1/medium/list_scalar_add
tests/autograde/p1/medium/nested_list_concat
tests/autograde/p1/medium/swap
tests/autograde/p1/medium/trace
tests/autograde/p1/hard/demorgan1
tests/autograde/p1/hard/demorgan2
tests/autograde/p1/hard/dict_idx
tests/autograde/p1/hard/listadd
tests/autograde/p1/hard/transpose

tests/autograde_typed/p0/easy/0bytes
tests/autograde_typed/p0/easy/add_const
tests/autograde_typed/p0/easy/add_input
tests/autograde_typed/p0/easy/add_var
tests/autograde_typed/p0/easy/chain_add
tests/autograde_typed/p0/easy/input
tests/autograde_typed/p0/easy/negate
tests/autograde_typed/p0/easy/print
tests/autograde_typed/p0/easy/sub
tests/autograde_typed/p0/easy/sub_var
tests/autograde_typed/p0/easy/usub
tests/autograde_typed/p0/hard/add_chained_usub
tests/autograde_typed/p0/hard/inline_big_add
tests/autograde_typed/p0/hard/lexver1
tests/autograde_typed/p0/hard/nameconflict1
tests/autograde_typed/p0/hard/nameconflict2
tests/autograde_typed/p0/hard/nested_op
tests/autograde_typed/p0/hard/spill
tests/autograde_typed/p0/hard/succ_add
tests/autograde_typed/p0/medium/chain_unary
tests/autograde_typed/p0/medium/chained_usub_var
tests/autograde_typed/p0/medium/discard
tests/autograde_typed/p0/medium/discard_input
tests/autograde_typed/p0/medium/inline_add
tests/autograde_typed/p0/medium/input_add
tests/autograde_typed/p0/medium/reassign
tests/autograde_typed/p0/medium/reuse
tests/autograde_typed/p0/medium/swap
tests/autograde_typed/p0/medium/unary_paren
tests/autograde_typed/p0a/easy/and1
tests/autograde_typed/p0a/easy/eq
tests/autograde_typed/p0a/medium/empty_and
tests/autograde_typed/p0a/medium/empty_and1
tests/autograde_typed/p0a/medium/empty_and2
tests/autograde_typed/p0a/medium/empty_and3
tests/autograde_typed/p0a/medium/empty_eq
tests/autograde_typed/p0a/medium/fake_add
tests/autograde_typed/p0a/medium/fake_chained_not_add
tests/autograde_typed/p0a/easy/and
tests/autograde_typed/p0a/easy/is_positive_if
tests/autograde_typed/p0a/easy/ne
tests/autograde_typed/p0a/easy/not
tests/autograde_typed/p0a/easy/or
tests/autograde_typed/p0a/easy/simple_if
tests/autograde_typed/p0a/easy/simple_while
tests/autograde_typed/p0a/easy/simple_while1
tests/autograde_typed/p0a/hard/climb2fall1
tests/autograde_typed/p0a/hard/discard
tests/autograde_typed/p0a/hard/fib
tests/autograde_typed/p0a/hard/if_in_while
tests/autograde_typed/p0a/hard/input_in_while
tests/autograde_typed/p0a/hard/is_odd
tests/autograde_typed/p0a/hard/nested
tests/autograde_typed/p0a/hard/nested2
tests/autograde_typed/p0a/hard/prod
tests/autograde_typed/p0a/medium/empty_ne
tests/autograde_typed/p0a/medium/wdiscard
tests/autograde_typed/p0a/medium/while_input
tests/mytests/ex1
tests/mytests/ex10
tests/mytests/ex11
tests/mytests/ex12
tests/mytests/ex13
tests/mytests/ex14
tests/mytests/ex15
tests/mytests/ex16
tests/mytests/ex2
tests/mytests/ex3
tests/mytests/ex4
tests/mytests/ex5
tests/mytests/ex6
tests/mytests/ex7
tests/mytests/ex8
tests/mytests/ex9
tests/mytests/test0
tests/mytests/test1

#p1
tests/autograde_typed/p1/easy/bool_int_add
tests/autograde_typed/p1/easy/bool_int_comp
tests/autograde_typed/p1/easy/bool_int_fcomp
tests/autograde_typed/p1/easy/dict_var
tests/autograde_typed/p1/easy/list_elewise_add
tests/autograde_typed/p1/easy/list_nested
tests/autograde_typed/p1/easy/list_var
tests/autograde_typed/p1/easy/list
tests/autograde_typed/p1/easy/polymorph
tests/autograde_typed/p1/easy/simple_subscript
tests/autograde_typed/p1/easy/val_comp
tests/autograde_typed/p1/medium/dict_expr
tests/autograde_typed/p1/medium/dict_expr
tests/autograde_typed/p1/medium/dict_in_list
tests/autograde_typed/p1/medium/dict_nested
tests/autograde_typed/p1/medium/dictorder
tests/autograde_typed/p1/medium/empty_and
tests/autograde_typed/p1/medium/empty_and2
tests/autograde_typed/p1/medium/empty_and3
tests/autograde_typed/p1/medium/empty_eq
tests/autograde_typed/p1/medium/empty_ne
tests/autograde_typed/p1/medium/empty_obj_cmp
tests/autograde_typed/p1/medium/empty_obj_cmp2
tests/autograde_typed/p1/medium/fake_add
tests/autograde_typed/p1/medium/fake_chained_not_add
tests/autograde_typed/p1/medium/is_positive_while
tests/autograde_typed/p1/medium/list_concat
tests/autograde_typed/p1/medium/list_expr
tests/autograde_typed/p1/medium/list_idx
tests/autograde_typed/p1/medium/list_scalar_add
tests/autograde_typed/p1/medium/nested_list_concat
tests/autograde_typed/p1/medium/swap
tests/autograde_typed/p1/medium/trace
tests/autograde_typed/p1/hard/demorgan1
tests/autograde_typed/p1/hard/demorgan2
tests/autograde_typed/p1/hard/dict_idx
tests/autograde_typed/p1/hard/listadd
tests/autograde_typed/p1/hard/transpose
