*.ipynb_checkpoints
*.s
*.compileerr
*.compileout
*.out
*.expected

#runtime files
runtime/runtime.o
src/pyyc/__pycache__
runtime/libpyyruntime.a

# executables

tests/autograde_typed/p0/easy/0bytes
tests/autograde_typed/p0/easy/add_const
tests/autograde_typed/p0/easy/add_input
tests/autograde_typed/p0/easy/add_var
tests/autograde_typed/p0/easy/chain_add
tests/autograde_typed/p0/easy/input
tests/autograde_typed/p0/easy/negate
tests/autograde_typed/p0/easy/print
tests/autograde_typed/p0/easy/sub
tests/autograde_typed/p0/easy/sub_var
tests/autograde_typed/p0/easy/usub
tests/autograde_typed/p0/hard/add_chained_usub
tests/autograde_typed/p0/hard/inline_big_add
tests/autograde_typed/p0/hard/lexver1
tests/autograde_typed/p0/hard/nameconflict1
tests/autograde_typed/p0/hard/nameconflict2
tests/autograde_typed/p0/hard/nested_op
tests/autograde_typed/p0/hard/spill
tests/autograde_typed/p0/hard/succ_add
tests/autograde_typed/p0/medium/chain_unary
tests/autograde_typed/p0/medium/chained_usub_var
tests/autograde_typed/p0/medium/discard
tests/autograde_typed/p0/medium/discard_input
tests/autograde_typed/p0/medium/inline_add
tests/autograde_typed/p0/medium/input_add
tests/autograde_typed/p0/medium/reassign
tests/autograde_typed/p0/medium/reuse
tests/autograde_typed/p0/medium/swap
tests/autograde_typed/p0/medium/unary_paren
